.block {
	display: inline-flex;
}

.container {
	width: 520px;
	font-size: 0;
	border: 2px solid black;
}

.sea {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: #b0c4de;
	border: 1px solid black;
}

.ship {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: #b0c4de;
	border: 1px solid black;
}

.game-over {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
}

.info {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-top: 50px;
}

.successful-points, .all-points {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-top: 12px;
}

.game-name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
}

.miss {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: white;
	border: 1px solid black;
}

.killed {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: red;
	border: 1px solid black;
}

.hit {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: orange;
	border: 1px solid black;
}