.container {
	width: 600px;
	vertical-align: middle;
	text-align: center;
	align-items: center;
}

.small-container {
	padding: 0;
	margin: 0;
}

.sea {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: #b0c4de;
	border: 3px solid black;
}

.ship {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: #4c3c18;
	border: 3px solid black;
}

.miss {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: white;
	border: 3px solid black;
	justify-content: center;
	align-items: center;
}

.killed {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: red;
	border: 3px solid black;
	justify-content: center;
	align-items: center;
}

.hit {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: orange;
	border: 3px solid black;
}